Brotli
certifi
chardet==5.2.0
charset-normalizer
colorama==0.4.6
decorator==4.4.2
exceptiongroup==1.2.2
future==1.0.0
huepy==1.2.1
idna
imageio==2.36.0
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
instabot==0.117.0
mock==5.1.0
moviepy==1.0.3
numpy==2.0.2
packaging==24.1
pillow==11.0.0
pluggy==1.5.0
proglog==0.1.10
PySocks
pytest==8.3.3
pytz==2024.2
PyYAML==6.0.2
requests
requests-toolbelt==1.0.0
responses==0.25.3
schedule==1.2.2
six==1.16.0
tomli==2.0.2
tqdm==4.66.6
urllib3
win-inet-pton
